/* Colors */
$primary-purple: #6A0572;
$light-purple: #9A57B5;
$dark-purple: #3C0341;
$accent-yellow: #FFD700;
$light-yellow: #FFFACD;
$background-dark: #2c2c54;
$text-white: #ffffff;
$text-gray: #cccccc;

/* Fonts */
$font-family: 'Poppins', 'Lato', Arial, sans-serif;

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./path/to/background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-white;
  overflow: hidden;
}

.navbar {
  background-color: $background-dark;
  color: $text-white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1000;

  .logo {
    height: 40px;
  }
}

#app {
  background-color: rgba($dark-purple, 0.8);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 90%;
  height: calc(100% - 60px);
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  margin-bottom: 20px;
  color: $accent-yellow;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80%;
}

.column {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  background-color: rgba($light-purple, 0.2);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: $text-white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: rgba(255, 255, 255, 0.1);
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

li::before {
  content: '•';
  margin-right: 10px;
  color: $accent-yellow;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  z-index: 1000;
}

.hidden {
  display: none;
}

.error {
  color: red;
  font-size: 1.2em;
}

.fa-cloud-sun, .fa-sun, .fa-moon {
  font-size: 2em;
  margin-bottom: 10px;
  color: $accent-yellow;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  #app {
    flex-direction: column;
    padding: 10px;
    width: 90%;
    height: calc(100% - 60px);
  }

  .container {
    flex-direction: column;
    height: auto;
  }

  .column {
    width: 100%;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 1.5em;
  }
}
